<div class="col-md-6">
<input type="text" name="blog_title" class="form-control" id="title-input" placeholder="Enter Blog Title">

<textarea class="form-control" id="blog-content" rows="3" name="blog_content" placeholder="Write your blog!"></textarea>

<input class="btn btn-default" id="blog-submit" name="submit" type="submit" value="Save Post">
</div>
